@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary : #00c9ff;
  --border : #d1d5dc;
  --bgsecondary : #dfdeda;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border : var(--border);
  --color-bgsecondary : var(--bgsecondary);
  --color-primary : var(--primary);
  

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed; 
    --bgsecondary : #1b1f23;
    --border : #29292a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
